body {
	font-family: Arial, sans-serif;
	background-color: #f2f2f2;
}

h1 {
	text-align: center;
	color: #333;
	margin-top: 30px;
}

form {
	background-color: #fff;
	padding: 20px;
	border-radius: 10px;
	margin: 0 auto;
	width: 50%;
}

label {
	display: block;
	margin-bottom: 10px;
	color: #333;
}

input[type="number"] {
	padding: 10px;
	border-radius: 5px;
	border: 1px solid #ccc;
	font-size: 16px;
	width: 100%;
	box-sizing: border-box;
}

.btn {
	background-color: #4CAF50;
	color: #fff;
	padding: 10px 20px;
	border: none;
	border-radius: 5px;
	font-size: 16px;
	cursor: pointer;
	transition: all 0.3s ease;
}

.btn:hover {
	background-color: #3e8e41;
}
