body {
            font-family: Arial, sans-serif;
            background-color: #f5f5f5;
        }
        h1 {
            text-align: center;
            margin-top: 50px;
        }
        form {
            text-align: center;
            margin-top: 30px;
        }
        input[type="number"] {
            padding: 5px;
            font-size: 16px;
            border-radius: 5px;
            border: none;
            box-shadow: 1px 1px 3px rgba(0,0,0,0.2);
        }
        input[type="submit"] {
            padding: 10px 30px;
            font-size: 16px;
            border-radius: 5px;
            border: none;
            background-color: #4CAF50;
            color: #fff;
            cursor: pointer;
            transition: all 0.2s ease-in-out;
        }
        input[type="submit"]:hover {
            background-color: #3e8e41;
        }
        p {
            margin-top: 20px;
            font-size: 18px;
            text-align: center;
        }