body {
    background-color: #282828;
    color: #FFA500;
    font-family: Arial, sans-serif;
  }
  
  h1 {
    text-align: center;
    font-size: 36px;
    margin: 50px 0 30px;
  }
  
  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px;
  }
  
  input[type="text"] {
    width: 300px;
    height: 30px;
    margin: 10px;
    font-size: 18px;
    padding: 5px;
    border-radius: 5px;
    border: none;
  }
  
  input[type="submit"] {
    width: 100px;
    height: 40px;
    font-size: 18px;
    color: #282828;
    background-color: #FFA500;
    border-radius: 5px;
    border: none;
    cursor: pointer;
  }
  
  p {
    text-align: center;
    font-size: 24px;
    margin-top: 30px;
  }
  